.btn-container {
  margin: 100px 0px 250px 0px;
}

.btn-home {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #e50d81;
  color: #fff;
}