.pokemon-container {
  margin: 20px 0.6%;
  border: 2px solid #E6E6E6;
  width: 32%;
  padding: 25px;
}

.pokemon-image {
  max-width: 65%;
  background-color: #c7e3e8;
  border-radius: 100%;
  padding: 10px;
}

.pokemon-name {
  font-size: 200%;
}

.pokemon-number {
  color: #cacaca;
}

.pokemon-title {
  padding-bottom: 10px;
  border-bottom: 2px solid #f8f8f8;
}

.pokemon-details {
  padding-top: 10px;
}

.pokemon-description {
  padding: 10px 0px;
  font-size: 100%;
  color: #bebebe;
}

/* styles for '...' 
   from http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ 
*/ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.7em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 5.7em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  /* margin-right: -1em; */
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.pokemon-types {
  margin: 20px 0px;
  padding: 10px 0px;
  display: flex;
}

.pokemon-types span {
  margin-right: 7px;
  border-radius: 5px;
  padding: 1px 20px;
  color: #fff;
}

.pokemon-select-container {
  padding: 10px 0px;
}

.btn-selection{
    padding: 8px 50px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 120%;
    cursor: pointer;
    border: none;
}

.btn-selection:disabled {
  background-color: #a8a8a8;
  color: #666666;
  cursor: default;
}

.fire {
  background-color: #EE8130;
}

.normal {
  background-color: #A8A77A;
}

.water {
  background-color: #6390F0;
}

.electric {
  background-color: #F7D02C;
}

.grass {
  background-color: #7AC74C;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #C22E28;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.flying {
  background-color: #A98FF3;
}

.psychic {
  background-color: #F95587;
}

.bug {
  background-color: #A6B91A;
}

.rock {
  background-color: #B6A136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #B7B7CE;
}

.fairy {
  background-color: #D685AD;
}
