ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0px 5px;
}

.btn-page {
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border:none;
}

.btn-page:disabled {
  background-color: #a8a8a8;
  color: #666666;
  cursor: default;
}